.idea/
.vscode/
unupload/
*.cpython-37.pyc
.DS_Store
.vscode/launch.json
.vscode/tasks.json
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
OpenCVModule/ImageProcessing/.DS_Store
Test/.DS_Store
Test/InvoiceDetection/.DS_Store
Test/InvoiceDetection/.vscode/launch.json
Test/InvoiceDetection/.vscode/settings.json
Test/InvoiceDetection/resources/2019_04_18_155557580211930.jpg
Test/sgyt/.DS_Store
